:root {
    --bg: #fff;
    --b-w: #000;
    --primary: #4facfe; 
    --p-text: #606060;
    --bg-div: #f2f2f2;
    --h4: #2475bc;
    --w-b: #fff;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: whitesmoke;
    display: grid;
    justify-items: center;
    align-items: center;
    overflow-x: hidden;
    margin-top: 44px;
    scroll-padding-top: 44px;
}
html {
    scroll-behavior: smooth;
}
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 15px;
}
::-webkit-scrollbar-track {
    background: #000;
}

#main {
    position: relative;
    width: 1920px;
}

#toggleMode {
    display: none;
} 
.toggleDark,
.toggleLight {
    cursor: pointer;
    position: absolute;
    z-index: 2;
    top: 20px;
    right: 10px;
    transition: all ease-in-out 0.5s;
    filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.5));
} 
.toggleDark {
    display: block;
    color: var(--primary);
}
  
.toggleDark:hover{
    color: #000;
    filter: none;
} 
.toggleLight {
    display: none;
    color: var(--primary);
}
.toggleLight:hover {
    color: #fff;
    filter: none;
}
#toggleMode:checked ~ .toggleDark{
    display: none;
}
#toggleMode:checked ~ .toggleLight{
    display: block;
}
#toggleMode:checked ~ #section-all  {
    --bg: #020202;
    --b-w: #fff;
    --p-text: #cecece;
    --bg-div: #0a0a0a; 
    --w-b: #000;
     
    background-color: var(--bg);
    transition: all ease-in-out 0.5s;
}

header {
    position: fixed;
    position: -webkit-fixed;
    top: 0;
    width: 1920px;
    background: var(--bg);
    z-index: 1000;
    border-bottom: 1px solid var(--primary); 
}

.nav-container {
    width: 1280px;
    margin: auto;
    padding: 10px 0;
}
.nav-checkbox {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
} 
.nav-logo {
    text-decoration: none;
    color: var(--primary); 
    display: grid;
    justify-self: start;
    margin-left: 20px;
    padding: 2px;
    font-weight: 600;
    white-space: nowrap;
}
.tab-nav {
    display: none;
}
.tab-nav-label {
    color: var(--b-w);
    display: none;
}
.tab-nav-label .fa-times {
    display: none;
}
.tab-nav-label .fa-times {
    display: none;
}
.tab-content {
    list-style: none;
    justify-self: end;
    margin: 0;
    padding: 0;
    grid-column: 2/4;
}  
.tab-content li {
    display: inline-block;
    margin-right: 20px;
    white-space: nowrap;
}
.tab-content li a {
    text-decoration: none;
    color: var(--b-w);
    font-weight: 600;
    white-space: nowrap;
}

.header.scroll {
    background-color: var(--primary);
}
.header.scroll a {
    color: #fff;
}

.header.scroll a.active {
    color: #000;
    border-bottom: 2px solid #000;
}
.header a.active {
    color: var(--primary); 
    border-bottom: 2px solid var(--primary);
}

#section-all {
    background: var(--bg);
}

.div-container {
    width: 1280px;
    padding:  40px 20px;
    text-align: center;
    margin: auto;
}
section h1 {
    padding: 20px;
    color: var(--primary);
    font-weight: 600;
    font-size: 32px;
}
section p {
    color: var(--p-text);
}
#home {
    width: 100%;
}
.home-container {
    background-image: url("https://source.unsplash.com/1AhGNGKuhR0/1280x450");
        background-size:cover;
    background-repeat:no-repeat;
  background-size: 100% 90%;
  background-attachment: fixed;
    height:250px;
    grid-template-columns: repeat(2, 1fr);
}
.home-content {
    padding: 20px;
    display: grid;
    align-items: center; 
}
.home-content-inner {
    width: 60%;

    justify-self: center;
    grid-gap: 20px;
    text-align: center;
    transition: all ease-in-out 0.5s;
}
.home-content-inner h1 {
    padding-bottom:30px;
    color: var(--primary);
}
.home-content-inner p {
    color: white;
    padding-bottom:30px;
    ;
}
   .home-container img {
    display: block;
    width: 100%;
    object-fit: contain;
    object-position: center;
    height: 100%;
}
#home-btn {
    cursor: pointer;
    outline: none;
    padding: 10px 15px;
    border: 2px solid var(--b-w);
    color: var(--b-w);
    font-weight: 600;
    background: none;
    transition: all ease-in-out 0.5s;
}
#home-btn:hover {
    background-color: var(--primary);
    color: var(--b-w);
    border: 2px solid var(--primary);
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}
.container-inner {
    display: grid;
    grid-gap: 20px;
    padding: 20px;
    background-color: var(--bg-div);
    transition: all ease-in-out 0.5s;
    border-radius: 5px;
    background: var(--primary);
    border: 2px solid var(--b-w);
}
.icon .fa-tooth {
    background: #383b3e;
    color: #fff;
    padding: 10px 13px;
    border-radius: 50%;
}
.container-inner h2 {
   color: var(--b-w);
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    grid-gap: 20px;
}
.card-inner {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-gap: 20px;
    padding: 20px;
    border: 2px solid var(--b-w);
    transition: all ease-in-out 0.5s;
    border-radius: 5px;
    background: var(--primary);
}
.card-inner img {
    display: block;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    border: 2px solid var(--b-w);
}
.card-inner h2 {
    color: var(--b-w);
}
.card-inner h4 {
    color: var(--h4);
}
.social-media a {
    color: #494b4c;
    transition: all ease-in-out 0.5s;
}
.social-media a:hover {
    color: var(--b-w);
}

#testimonials {
    display: grid;
    align-items: center;
    justify-items: center;
    padding: 40px 20px;
}
.guests-says-slider-container {
    width: 1280px;
    padding: 20px;
    display: grid;
    position: relative;
}
.guests-says-slider {
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}
.guests-says-slider-iner {
    flex: none;
    scroll-snap-align: start;
    width: 300px;
    padding: 20px;
    display: grid;
    align-items: center;
    justify-items: center;
    text-align: center;
    grid-gap: 20px;
}
.guests-says-slider-iner p {
    border: 2px solid var(--primary);
    border-radius: 10px;
    padding: 5px;
    position: relative;
    background-color: var(--primary);
    color: #000;
}
.guests-says-slider-iner p::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -15px;
    left: 50%;
    width: 30px;
    height: 15px;
    border-top: solid 15px var(--primary);
    border-left: solid 15px transparent;
    border-right: solid 15px transparent;
}
.guests-says-slider-iner img {
    display: block;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid var(--primary);
}
.guests-says-slider-iner h2 {
    color: var(--b-w);
}
.guests-says-slider-iner h4 {
    color: var(--p-text);
}
.guests-says-slider-container button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background-color: var(--b-w);
    color: var(--w-b);
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 50%;
    outline: none;
    opacity: 0;
    transition: all ease-in-out 0.5s;
}
#prev {
    left: 10px;
}
#next {
    right: 10px;
}
.guests-says-slider-container:hover button {
    opacity: 1;
}

.guests-says-slider::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
.guests-says-slider::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 10px;
    visibility: hidden;
}
.guests-says-slider::-webkit-scrollbar-track {
    background: transparent;
}
.guests-says-slider-container:hover .guests-says-slider::-webkit-scrollbar-thumb {
    visibility: visible;
}

.contact-us-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
.input-container {
    display: grid;
    justify-items: center;
    padding: 20px;  
} 
.input-inside {
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    display: grid;
    justify-items: center;
}
.input {
    display: block;
    padding: 15px 10px;
    outline: none;
    border: none;
    background: none;
    border-bottom: 2px solid var(--b-w);
    width: 100%;
    font-size: 1rem;
    box-sizing: border-box;
    color: var(--b-w);
    transition: all ease-in-out 0.5s;
}
.input:focus {
    border-bottom: 2px solid var(--primary);
}
.input-label {
    position: absolute;
    top: 8px;
    left: 8px;
    opacity:0;
    padding: 0 2px;
    font-size: 1rem;
    -webkit-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}
.input:valid + .input-label {
    opacity: 1;
    top:-8px;
}
.input:focus + .input-label {
    color: var(--primary);
}
#btn-contact-form {
    cursor: pointer;
    outline: none;
    padding: 10px 15px;
    border: 2px solid var(--b-w);
    color: var(--b-w);
    font-weight: 600;
    background: none;
    transition: all ease-in-out 0.5s;
}
#btn-contact-form:hover {
    background-color: var(--primary);
    color: var(--b-w);
    border: 2px solid var(--primary);
}
.contact-information {
    display: grid;
    align-items: center;
    justify-items: center;
    color: var(--b-w);
}
.contact-information-inner {
    display: grid;
    grid-gap: 20px;
}
.contact-information-inner a {
    text-decoration: none;
    color: var(--b-w);
    font-weight: 600;
    transition: all ease-in-out 0.5s;
}
.contact-information-inner a:hover {
    color: var(--primary);
} 

#footer {
    display: grid;
    justify-items: center;
    background: var(--primary);
    text-align: center;
    padding: 20px;
}
.footer {
    width: 1280px;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, minmax(100px,1fr));
    grid-gap: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.footer-a p {
    color: var(--p-text);
}
.h1-footer {
    color: var(--b-w);
}
.fooer-b {
    display: grid;
    grid-gap: 20px;
}
 .footer .social {
    text-decoration: none;
    color: var(--b-w);
    margin-right: 20px;
    transition: all ease-in-out 0.5s;
}
.footer .social:hover {
    color: var(--w-b);
}
.footer .back-to-top {
    text-decoration: none;
    font-weight: 600;
    color: var(--b-w);
    transition: all ease-in-out 0.5s;
}
.footer .back-to-top:hover {
    color: var(--w-b);
}
.p-copyright {
    color: var(--b-w);
    padding: 40px 0px;
}
.link-copyright {
    text-decoration: none;
    color: var(--b-w);
    font-weight: 600;
}
.link-copyright:hover {
    color: var(--w-b);
}

@media screen and (max-width: 1920px) {
    #main {
        width: 100%;
    }
    header {
        width: 100%;
    }
}
@media screen and (max-width: 1280px) {
    .nav-container {
        width: 100%;
    }
    .div-container {
        width: 100%;
    }
    .home-content-inner {
        width: 100%;
    }
    .guests-says-slider-container {
        width: 100%;
    }
    .footer {
        width: 100%;
    }
}
@media screen and (max-width: 1240px) {
    #slider-container {
        width: 100%;
    }
}
@media screen and (max-width: 800px) {
   .tab-content {
        display: grid;
        grid-template-columns: 1fr;
        grid-column: 1/5;
        text-align: center;
        max-height: 0;
        overflow: hidden;
        justify-self: center;
        transition: all ease-in-out 0.4s;
        -o-transition: all ease-in-out 0.4s;
        -webkit-transition: all ease-in-out 0.4s;
    } 
    .tab-nav-label {
        display: grid;
        cursor: pointer;
        grid-column: 4;
        padding-right: 20px;
    } 
    .nav-checkbox input:checked ~ .tab-nav-label .fa-bars {
        display: none;
    }
    .nav-checkbox input:checked ~ .tab-nav-label .fa-times  {
        display: block;
        position: absolute;
        top: 15px;
        right: 20px;
     }
    .nav-checkbox input:checked ~ .tab-content {
        max-height: 400px;
    }
    .tab-content li {
        padding: 10px 0;
        margin-right: 0;
    }
    .home-container {
        grid-template-columns: 1fr;
    }
    .contact-us-container {
        grid-template-columns: 1fr;
    }
    .footer {
        grid-template-columns: 1fr;
    }
    .footer-a {
        width: 50%;
    }
}
@media screen and (max-width: 425px) {
    .guests-says-slider-iner {
        width: 100%;
    }
    .footer-a {
        width: 100%;
    }
    .p-copyright {
        padding-left: 10px;
        padding-right: 10px;
    }
}
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
body {
    color: #fff;
    font-family: 'Roboto', sans-serif;
}
.form-area {
    background: url(https://farm8.staticflickr.com/7284/8737553088_e6feca2bc9_b.jpg);
    background-color: #ddd;
    background-position: center bottom;
    background-size: cover;
    position: relative;
    z-index: 1
}

.form-area:before {
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(75,17,249,0.88) 100%);
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(75,17,249,0.88) 100%);
background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(75,17,249,0.88) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#e04b11f9',GradientType=0 );  
    content: "";
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: -1
}

.form-area {
    box-shadow: 0 0 38px #666;
    margin: 40px auto;
    max-width: 500px;
}

.form-sing {
    padding: 46px 60px;
}

.nav-tabs {
    border: none;
    padding-left:17px;
}

.sing-log-wrap .tab-content {
    margin-top: 70px;
}

.sing-log-wrap .nav.nav-tabs li a {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-right: 30px;
    padding-left: 0;
    padding-right: 0;
    text-transform: uppercase;
}

.sing-log-wrap .nav > li > a:focus,
.sing-log-wrap .nav > li > a:hover {
    background: none;
    border: 1px solid transparent;
    color: #1066F9;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
    color: #fff;
    cursor: default;
    background: none;
    border: 0px solid #ddd;
    border-bottom: 2px solid #1066F9;
}

.sing-log-wrap label {
    width: 100%;
    text-transform: uppercase;
    color: #fff
}

.form-input-group label,
.form-input-checkbox {
    padding-left: 17px;
}

.sing-log-wrap .form-input-group input {
  background: rgba(255, 255, 255, .3) none repeat scroll 0 0;
  margin-top: 10px;
}

.sing-log-wrap .form-input-group input,
.form-input-group button {
    border: medium none;
    border-radius: 20px;
    color: #222;
    padding: 9px 17px;
    width: 100%;
}

.form-input-checkbox label {
    width: auto;
    text-transform: none;
}

.form-input-group label {
    opacity: .8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
}

.form-input-group button {
    background: #1161ee none repeat scroll 0 0;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 17px;
    -webkit-transition: .3s;
    transition: .3s;
}

.form-input-group button:hover {
    background: #fff none repeat scroll 0 0;
    color: #1161ee;
}

.form-bor {
    border-bottom: 1px solid #36384d;
    margin-bottom: 33px;
    padding-bottom: 62px;
}

.forgot-pass {
    color: #dddd;
    display: block;
    text-align: center;
}

.forgot-pass:hover {
    color: #fff
}

.sing-log-wrap .form-input-group {
    margin-bottom: 17px;
}